In [1]:
import pandas as pd
import numpy as np

##import SIM I data
SIMI_SACT_TUMOUR=pd.read_table("simulacrum_release_v1/sim_sact_tumour.csv", sep=",")

In [2]:
##randomise data on Tumour Id
SIMI_SACT_TUMOUR_50_tid = SIMI_SACT_TUMOUR.sample(frac =.50)
SIMI_SACT_TUMOUR_25_tid = SIMI_SACT_TUMOUR.sample(frac =.25)
SIMI_SACT_TUMOUR_10_tid = SIMI_SACT_TUMOUR.sample(frac =.10)

In [3]:
##randomise data on Patient Id
SIMI_SACT_TUMOUR_pid = SIMI_SACT_TUMOUR.set_index('MERGED_PATIENT_ID')

##add number of tumour counts per patient Id
SIMI_SACT_TUMOUR_pid['counts'] = SIMI_SACT_TUMOUR_pid.groupby(['MERGED_PATIENT_ID']).size()
SIMI_SACT_TUMOUR_pid = SIMI_SACT_TUMOUR_pid.sort_index()

SIMI_SACT_TUMOUR_50_pid = SIMI_SACT_TUMOUR_pid.loc[np.random.choice(SIMI_SACT_TUMOUR_pid.index.unique(), int(SIMI_SACT_TUMOUR_pid.index.nunique()/2), replace=False)]
SIMI_SACT_TUMOUR_25_pid = SIMI_SACT_TUMOUR_pid.loc[np.random.choice(SIMI_SACT_TUMOUR_pid.index.unique(), int(SIMI_SACT_TUMOUR_pid.index.nunique()/4), replace=False)]
SIMI_SACT_TUMOUR_10_pid = SIMI_SACT_TUMOUR_pid.loc[np.random.choice(SIMI_SACT_TUMOUR_pid.index.unique(), int(SIMI_SACT_TUMOUR_pid.index.nunique()/10), replace=False)]

In [5]:
##number of tumours of SIM I and samples randomised on Patient Id

def tumour_number (table_count, table, counts):

    table_count = pd.value_counts(table['counts']).to_frame().reset_index()
    table_count.columns=['n_tumours',counts]
    table_count[counts]=table_count[counts]/table_count["n_tumours"]
    
    return table_count
    
tumour_number_count=tumour_number('tumour_number_count',SIMI_SACT_TUMOUR_pid,"counts_total")
tumour_number_count_50_pid=tumour_number('tumour_number_count_50_pid',SIMI_SACT_TUMOUR_50_pid,"counts_0.50_pid")
tumour_number_count_25_pid=tumour_number('tumour_number_count_25_pid',SIMI_SACT_TUMOUR_25_pid,"counts_0.25_pid")
tumour_number_count_10_pid=tumour_number('tumour_number_count_10_pid',SIMI_SACT_TUMOUR_10_pid, "counts_0.10_pid")

tumour_freq_merge_pid=pd.merge(tumour_number_count,tumour_number_count_50_pid,on="n_tumours", how='outer')
tumour_freq_merge_pid=pd.merge(tumour_freq_merge_pid,tumour_number_count_25_pid,on="n_tumours", how='outer')
tumour_freq_merge_pid=pd.merge(tumour_freq_merge_pid,tumour_number_count_10_pid,on="n_tumours", how='outer')
tumour_freq_merge_pid=tumour_freq_merge_pid.fillna(0)

tumour_freq_merge_pid['counts_total_percentage']=tumour_freq_merge_pid['counts_total']/sum(tumour_freq_merge_pid['counts_total'])
tumour_freq_merge_pid['counts_0.50_pid_percentage']=tumour_freq_merge_pid['counts_0.50_pid']/sum(tumour_freq_merge_pid['counts_0.50_pid'])
tumour_freq_merge_pid['counts_0.25_pid_percentage']=tumour_freq_merge_pid['counts_0.25_pid']/sum(tumour_freq_merge_pid['counts_0.25_pid'])
tumour_freq_merge_pid['counts_0.10_pid_percentage']=tumour_freq_merge_pid['counts_0.10_pid']/sum(tumour_freq_merge_pid['counts_0.10_pid'])

In [6]:
##number of tumours of SIM I and samples randomised on Tumour Id

def patient_index (table_new,table):
    table_new = table.set_index('MERGED_PATIENT_ID')
    table_new['counts']=table_new.groupby(['MERGED_PATIENT_ID']).size()
    table_new=table_new.sort_index()
    return table_new

SIMI_SACT_TUMOUR_50_tid2 = patient_index('SIMI_SACT_TUMOUR_50_tid2',SIMI_SACT_TUMOUR_50_tid)
SIMI_SACT_TUMOUR_25_tid2 = patient_index('SIMI_SACT_TUMOUR_25_tid2',SIMI_SACT_TUMOUR_25_tid)
SIMI_SACT_TUMOUR_10_tid2 = patient_index('SIMI_SACT_TUMOUR_25_tid2',SIMI_SACT_TUMOUR_10_tid)

tumour_number_count_50_tid=tumour_number('tumour_number_count_50_tid',SIMI_SACT_TUMOUR_50_tid2,"counts_0.50_tid")
tumour_number_count_25_tid=tumour_number('tumour_number_count_25_tid',SIMI_SACT_TUMOUR_25_tid2,"counts_0.25_tid")
tumour_number_count_10_tid=tumour_number('tumour_number_count_10_tid',SIMI_SACT_TUMOUR_10_tid2, "counts_0.10_tid")

tumour_freq_merge_tid=pd.merge(tumour_number_count,tumour_number_count_50_tid,on="n_tumours", how='outer')
tumour_freq_merge_tid=pd.merge(tumour_freq_merge_tid,tumour_number_count_25_tid,on="n_tumours", how='outer')
tumour_freq_merge_tid=pd.merge(tumour_freq_merge_tid,tumour_number_count_10_tid,on="n_tumours", how='outer')
tumour_freq_merge_tid=tumour_freq_merge_tid.fillna(0)

tumour_freq_merge_tid['counts_total_percentage']=tumour_freq_merge_tid['counts_total']/sum(tumour_freq_merge_tid['counts_total'])
tumour_freq_merge_tid['counts_0.50__tid_percentage']=tumour_freq_merge_tid['counts_0.50_tid']/sum(tumour_freq_merge_tid['counts_0.50_tid'])
tumour_freq_merge_tid['counts_0.25_tid_percentage']=tumour_freq_merge_tid['counts_0.25_tid']/sum(tumour_freq_merge_tid['counts_0.25_tid'])
tumour_freq_merge_tid['counts_0.10_tid_percentage']=tumour_freq_merge_tid['counts_0.10_tid']/sum(tumour_freq_merge_tid['counts_0.10_tid'])

In [7]:
tumour_freq_merge_pid

,n_tumours,counts_total,counts_0.50_pid,counts_0.25_pid,counts_0.10_pid,counts_total_percentage,counts_0.50_pid_percentage,counts_0.25_pid_percentage,counts_0.10_pid_percentage
0,1,124217.0,62118.0,31083.0,12527.0,0.652568,0.652671,0.653183,0.658103
1,2,40545.0,20292.0,10169.0,3977.0,0.213001,0.213207,0.213693,0.208931
2,3,15274.0,7605.0,3800.0,1504.0,0.080241,0.079905,0.079854,0.079012
3,4,6108.0,3072.0,1477.0,604.0,0.032088,0.032277,0.031038,0.031731
4,5,2468.0,1253.0,617.0,227.0,0.012966,0.013165,0.012966,0.011925
5,6,977.0,468.0,243.0,118.0,0.005133,0.004917,0.005106,0.006199
6,7,431.0,211.0,118.0,41.0,0.002264,0.002217,0.002480,0.002154
7,8,171.0,75.0,41.0,17.0,0.000898,0.000788,0.000862,0.000893
8,9,85.0,38.0,17.0,10.0,0.000447,0.000399,0.000357,0.000525
9,10,39.0,23.0,13.0,7.0,0.000205,0.000242,0.000273,0.000368
10,11,17.0,9.0,4.0,1.0,0.000089,0.000095,0.000084,0.000053
11,12,14.0,7.0,4.0,0.0,0.000074,0.000074,0.000084,0.000000
12,14,2.0,2.0,0.0,1.0,0.000011,0.000021,0.000000,0.000053
13,13,2.0,1.0,1.0,1.0,0.000011,0.000011,0.000021,0.000053
14,15,1.0,1.0,0.0,0.0,0.000005,0.000011,0.000000,0.000000

In [8]:
tumour_freq_merge_tid

,n_tumours,counts_total,counts_0.50_tid,counts_0.25_tid,counts_0.10_tid,counts_total_percentage,counts_0.50__tid_percentage,counts_0.25_tid_percentage,counts_0.10_tid_percentage
0,1,124217.0,90042.0,57031.0,26624.0,0.652568,0.778614,0.873730,0.942776
1,2,40545.0,19253.0,7044.0,1514.0,0.213001,0.166485,0.107916,0.053612
2,3,15274.0,4725.0,1014.0,87.0,0.080241,0.040858,0.015535,0.003081
3,4,6108.0,1165.0,158.0,15.0,0.032088,0.010074,0.002421,0.000531
4,5,2468.0,325.0,21.0,0.0,0.012966,0.002810,0.000322,0.000000
5,6,977.0,95.0,1.0,0.0,0.005133,0.000821,0.000015,0.000000
6,7,431.0,30.0,4.0,0.0,0.002264,0.000259,0.000061,0.000000
7,8,171.0,7.0,0.0,0.0,0.000898,0.000061,0.000000,0.000000
8,9,85.0,1.0,0.0,0.0,0.000447,0.000009,0.000000,0.000000
9,10,39.0,0.0,0.0,0.0,0.000205,0.000000,0.000000,0.000000
10,11,17.0,1.0,0.0,0.0,0.000089,0.000009,0.000000,0.000000
11,12,14.0,0.0,0.0,0.0,0.000074,0.000000,0.000000,0.000000
12,14,2.0,0.0,0.0,0.0,0.000011,0.000000,0.000000,0.000000
13,13,2.0,0.0,0.0,0.0,0.000011,0.000000,0.000000,0.000000
14,15,1.0,0.0,0.0,0.0,0.000005,0.000000,0.000000,0.000000

In [9]:
##table with counts of unique data of SIM I and samples randomised on patient Id
SIMI_SACT_TUMOUR_unique_pid =pd.DataFrame({'Item': ['PRIMARY_DIAGNOSIS', 'CONSULTANT_SPECIALITY_CODE','MORPHOLOGY_CLEAN'], 
                      'Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_pid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_pid['CONSULTANT_SPECIALITY_CODE'].nunique(),SIMI_SACT_TUMOUR_pid['MORPHOLOGY_CLEAN'].nunique()],
                      '0.50_pid_Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_50_pid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_50_pid['CONSULTANT_SPECIALITY_CODE'].nunique(), SIMI_SACT_TUMOUR_50_pid['MORPHOLOGY_CLEAN'].nunique()],
                     '0.25_pid_Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_25_pid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_25_pid['CONSULTANT_SPECIALITY_CODE'].nunique(), SIMI_SACT_TUMOUR_25_pid['MORPHOLOGY_CLEAN'].nunique()],
                    '0.10_pid_Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_10_pid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_10_pid['CONSULTANT_SPECIALITY_CODE'].nunique(), SIMI_SACT_TUMOUR_10_pid['MORPHOLOGY_CLEAN'].nunique()]
                                      })
SIMI_SACT_TUMOUR_unique_pid['Missing_values_0.50_pid_count']=SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_pid['0.50_pid_Syhtnetic_data_unique_count']
SIMI_SACT_TUMOUR_unique_pid['Missing_values_0.50_pid_percentage']=(SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_pid['0.50_pid_Syhtnetic_data_unique_count'])/SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']*100
SIMI_SACT_TUMOUR_unique_pid['Missing_values_0.25_pid_count']=SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_pid['0.25_pid_Syhtnetic_data_unique_count']
SIMI_SACT_TUMOUR_unique_pid['Missing_values_0.25_pid_percentage']=(SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_pid['0.25_pid_Syhtnetic_data_unique_count'])/SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']*100
SIMI_SACT_TUMOUR_unique_pid['Missing_values_0.10_pid_count']=SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_pid['0.10_pid_Syhtnetic_data_unique_count']
SIMI_SACT_TUMOUR_unique_pid['Missing_values_0.10_pid_percentage']=(SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_pid['0.10_pid_Syhtnetic_data_unique_count'])/SIMI_SACT_TUMOUR_unique_pid['Syhtnetic_data_unique_count']*100

In [10]:
##table with counts of unique data of SIM I and samples randomised on Tumour Id
SIMI_SACT_TUMOUR_unique_tid =pd.DataFrame({'Item': ['PRIMARY_DIAGNOSIS', 'CONSULTANT_SPECIALITY_CODE','MORPHOLOGY_CLEAN'], 
                      'Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE'].nunique(),SIMI_SACT_TUMOUR['MORPHOLOGY_CLEAN'].nunique()],
                      '0.50_tid_Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_50_tid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_50_tid['CONSULTANT_SPECIALITY_CODE'].nunique(), SIMI_SACT_TUMOUR_50_tid['MORPHOLOGY_CLEAN'].nunique()],
                     '0.25_tid_Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_25_tid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_25_tid['CONSULTANT_SPECIALITY_CODE'].nunique(), SIMI_SACT_TUMOUR_25_tid['MORPHOLOGY_CLEAN'].nunique()],
                    '0.10_tid_Syhtnetic_data_unique_count': [SIMI_SACT_TUMOUR_10_tid['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR_10_tid['CONSULTANT_SPECIALITY_CODE'].nunique(), SIMI_SACT_TUMOUR_10_tid['MORPHOLOGY_CLEAN'].nunique()]
                                      })
SIMI_SACT_TUMOUR_unique_tid['Missing_values_0.50_count']=SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_tid['0.50_tid_Syhtnetic_data_unique_count']
SIMI_SACT_TUMOUR_unique_tid['Missing_values_0.50_percentage']=(SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_tid['0.50_tid_Syhtnetic_data_unique_count'])/SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']*100
SIMI_SACT_TUMOUR_unique_tid['Missing_values_0.25_count']=SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_tid['0.25_tid_Syhtnetic_data_unique_count']
SIMI_SACT_TUMOUR_unique_tid['Missing_values_0.25_percentage']=(SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_tid['0.25_tid_Syhtnetic_data_unique_count'])/SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']*100
SIMI_SACT_TUMOUR_unique_tid['Missing_values_0.10_count']=SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_tid['0.10_tid_Syhtnetic_data_unique_count']
SIMI_SACT_TUMOUR_unique_tid['Missing_values_0.10_percentage']=(SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']-SIMI_SACT_TUMOUR_unique_tid['0.10_tid_Syhtnetic_data_unique_count'])/SIMI_SACT_TUMOUR_unique_tid['Syhtnetic_data_unique_count']*100

In [11]:
SIMI_SACT_TUMOUR_unique_pid

,Item,Syhtnetic_data_unique_count,0.50_pid_Syhtnetic_data_unique_count,0.25_pid_Syhtnetic_data_unique_count,0.10_pid_Syhtnetic_data_unique_count,Missing_values_0.50_pid_count,Missing_values_0.50_pid_percentage,Missing_values_0.25_pid_count,Missing_values_0.25_pid_percentage,Missing_values_0.10_pid_count,Missing_values_0.10_pid_percentage
0,PRIMARY_DIAGNOSIS,760,679,583,468,81,10.657895,177,23.289474,292,38.421053
1,CONSULTANT_SPECIALITY_CODE,76,73,62,52,3,3.947368,14,18.421053,24,31.578947
2,MORPHOLOGY_CLEAN,533,476,404,325,57,10.694184,129,24.202627,208,39.024390

In [12]:
SIMI_SACT_TUMOUR_unique_tid

,Item,Syhtnetic_data_unique_count,0.50_tid_Syhtnetic_data_unique_count,0.25_tid_Syhtnetic_data_unique_count,0.10_tid_Syhtnetic_data_unique_count,Missing_values_0.50_count,Missing_values_0.50_percentage,Missing_values_0.25_count,Missing_values_0.25_percentage,Missing_values_0.10_count,Missing_values_0.10_percentage
0,PRIMARY_DIAGNOSIS,760,679,589,500,81,10.657895,171,22.500000,260,34.210526
1,CONSULTANT_SPECIALITY_CODE,76,69,69,54,7,9.210526,7,9.210526,22,28.947368
2,MORPHOLOGY_CLEAN,533,481,411,328,52,9.756098,122,22.889306,205,38.461538

In [13]:
##frequency tables for SIM I and samples randomised on tumour Id

def frequency (table, table_freq, column, count):
    table_freq=pd.value_counts(table[column]).to_frame().reset_index()
    table_freq.columns=[column,count]
    return table_freq

SIMI_SACT_TUMOUR_tid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR,'SIMI_SACT_TUMOUR_tid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_synth')
SIMI_SACT_TUMOUR_50_tid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_50_tid,'SIMI_SACT_TUMOUR_50_tid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_0.50_synth_tid')
SIMI_SACT_TUMOUR_25_tid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_25_tid,'SIMI_SACT_TUMOUR_25_tid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_0.25_synth_tid')
SIMI_SACT_TUMOUR_10_tid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_10_tid,'SIMI_SACT_TUMOUR_10_tid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_0.10_synth_tid')

SIMI_SACT_TUMOUR_tid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR,'SIMI_SACT_TUMOUR_tid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_synth')
SIMI_SACT_TUMOUR_50_tid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_50_tid,'SIMI_SACT_TUMOUR_50_tid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_0.50_synth_tid')
SIMI_SACT_TUMOUR_25_tid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_25_tid,'SIMI_SACT_TUMOUR_25_tid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_0.25_synth_tid')
SIMI_SACT_TUMOUR_10_tid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_10_tid,'SIMI_SACT_TUMOUR_10_tid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_0.10_synth_tid')

SIMI_SACT_TUMOUR_tid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR,'SIMI_SACT_TUMOUR_tid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_synth')
SIMI_SACT_TUMOUR_50_tid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_50_tid,'SIMI_SACT_TUMOUR_50_tid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_0.50_synth_tid')
SIMI_SACT_TUMOUR_25_tid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_25_tid,'SIMI_SACT_TUMOUR_25_tid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_0.25_synth_tid')
SIMI_SACT_TUMOUR_10_tid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_10_tid,'SIMI_SACT_TUMOUR_10_tid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_0.10_synth_tid')

##merging the frequency tables

def frequency_merged (table_freq_merge, table_freq, table50_freq, table25_freq, table10_freq, column):
    table_freq_merge=pd.merge(table_freq,table50_freq,on=column, how='outer')
    table_freq_merge=pd.merge(table_freq_merge,table25_freq,on=column, how='outer')
    table_freq_merge=pd.merge(table_freq_merge,table10_freq,on=column, how='outer')
    table_freq_merge.sort_values(by='count_synth',ascending=False)
    
    return table_freq_merge

CONSULTANT_SPECIALITY_CODE_tid_FREQ_merge=frequency_merged('CONSULTANT_SPECIALITY_CODE_tid_FREQ_merge',SIMI_SACT_TUMOUR_tid_CONSULTANT_SPECIALITY_CODE_FREQ,SIMI_SACT_TUMOUR_50_tid_CONSULTANT_SPECIALITY_CODE_FREQ,SIMI_SACT_TUMOUR_25_tid_CONSULTANT_SPECIALITY_CODE_FREQ,SIMI_SACT_TUMOUR_10_tid_CONSULTANT_SPECIALITY_CODE_FREQ,'CONSULTANT_SPECIALITY_CODE')
CONSULTANT_SPECIALITY_CODE_tid_FREQ_merge=CONSULTANT_SPECIALITY_CODE_tid_FREQ_merge.fillna(0)
PRIMARY_DIAGNOSIS_FREQ_tid_merge=frequency_merged('PRIMARY_DIAGNOSIS_FREQ_tid_merge',SIMI_SACT_TUMOUR_tid_PRIMARY_DIAGNOSIS_FREQ,SIMI_SACT_TUMOUR_50_tid_PRIMARY_DIAGNOSIS_FREQ,SIMI_SACT_TUMOUR_25_tid_PRIMARY_DIAGNOSIS_FREQ,SIMI_SACT_TUMOUR_10_tid_PRIMARY_DIAGNOSIS_FREQ,'PRIMARY_DIAGNOSIS')
PRIMARY_DIAGNOSIS_FREQ_tid_merge=PRIMARY_DIAGNOSIS_FREQ_tid_merge.fillna(0)
MORPHOLOGY_CLEAN_FREQ_tid_merge=frequency_merged('MORPHOLOGY_CLEAN_FREQ_tid_merge',SIMI_SACT_TUMOUR_tid_MORPHOLOGY_CLEAN_FREQ,SIMI_SACT_TUMOUR_50_tid_MORPHOLOGY_CLEAN_FREQ,SIMI_SACT_TUMOUR_25_tid_MORPHOLOGY_CLEAN_FREQ,SIMI_SACT_TUMOUR_10_tid_MORPHOLOGY_CLEAN_FREQ,'MORPHOLOGY_CLEAN')
MORPHOLOGY_CLEAN_FREQ_tid_merge=MORPHOLOGY_CLEAN_FREQ_tid_merge.fillna(0)

In [14]:
##frequency tables for SIM I and samples randomised on patient Id

SIMI_SACT_TUMOUR_pid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_pid,'SIMI_SACT_TUMOUR_pid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_synth')
SIMI_SACT_TUMOUR_50_pid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_50_pid,'SIMI_SACT_TUMOUR_50_pid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_0.50_synth_pid')
SIMI_SACT_TUMOUR_25_pid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_25_pid,'SIMI_SACT_TUMOUR_25_pid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_0.25_synth_pid')
SIMI_SACT_TUMOUR_10_pid_CONSULTANT_SPECIALITY_CODE_FREQ=frequency(SIMI_SACT_TUMOUR_10_pid,'SIMI_SACT_TUMOUR_10_pid_CONSULTANT_SPECIALITY_CODE_FREQ','CONSULTANT_SPECIALITY_CODE','count_0.10_synth_pid')

SIMI_SACT_TUMOUR_pid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_pid,'SIMI_SACT_TUMOUR_tid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_synth')
SIMI_SACT_TUMOUR_50_pid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_50_pid,'SIMI_SACT_TUMOUR_50_pid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_0.50_synth_pid')
SIMI_SACT_TUMOUR_25_pid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_25_pid,'SIMI_SACT_TUMOUR_25_pid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_0.25_synth_pid')
SIMI_SACT_TUMOUR_10_pid_PRIMARY_DIAGNOSIS_FREQ=frequency(SIMI_SACT_TUMOUR_10_pid,'SIMI_SACT_TUMOUR_10_pid_PRIMARY_DIAGNOSIS_FREQ','PRIMARY_DIAGNOSIS','count_0.10_synth_pid')

SIMI_SACT_TUMOUR_pid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_pid,'SIMI_SACT_TUMOUR_pid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_synth')
SIMI_SACT_TUMOUR_50_pid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_50_pid,'SIMI_SACT_TUMOUR_50_pid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_0.50_synth_pid')
SIMI_SACT_TUMOUR_25_pid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_25_pid,'SIMI_SACT_TUMOUR_25_pid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_0.25_synth_pid')
SIMI_SACT_TUMOUR_10_pid_MORPHOLOGY_CLEAN_FREQ=frequency(SIMI_SACT_TUMOUR_10_pid,'SIMI_SACT_TUMOUR_10_pid_MORPHOLOGY_CLEAN_FREQ','MORPHOLOGY_CLEAN','count_0.10_synth_pid')

##merging the frequency tables

CONSULTANT_SPECIALITY_CODE_pid_FREQ_merge=frequency_merged('CONSULTANT_SPECIALITY_CODE_pid_FREQ_merge',SIMI_SACT_TUMOUR_pid_CONSULTANT_SPECIALITY_CODE_FREQ,SIMI_SACT_TUMOUR_50_pid_CONSULTANT_SPECIALITY_CODE_FREQ,SIMI_SACT_TUMOUR_25_pid_CONSULTANT_SPECIALITY_CODE_FREQ,SIMI_SACT_TUMOUR_10_pid_CONSULTANT_SPECIALITY_CODE_FREQ,'CONSULTANT_SPECIALITY_CODE')
CONSULTANT_SPECIALITY_CODE_pid_FREQ_merge=CONSULTANT_SPECIALITY_CODE_pid_FREQ_merge.fillna(0)
PRIMARY_DIAGNOSIS_FREQ_pid_merge=frequency_merged('PRIMARY_DIAGNOSIS_FREQ_pid_merge',SIMI_SACT_TUMOUR_pid_PRIMARY_DIAGNOSIS_FREQ,SIMI_SACT_TUMOUR_50_pid_PRIMARY_DIAGNOSIS_FREQ,SIMI_SACT_TUMOUR_25_pid_PRIMARY_DIAGNOSIS_FREQ,SIMI_SACT_TUMOUR_10_pid_PRIMARY_DIAGNOSIS_FREQ,'PRIMARY_DIAGNOSIS')
PRIMARY_DIAGNOSIS_FREQ_pid_merge=PRIMARY_DIAGNOSIS_FREQ_pid_merge.fillna(0)
MORPHOLOGY_CLEAN_FREQ_pid_merge=frequency_merged('MORPHOLOGY_CLEAN_FREQ_pid_merge',SIMI_SACT_TUMOUR_pid_MORPHOLOGY_CLEAN_FREQ,SIMI_SACT_TUMOUR_50_pid_MORPHOLOGY_CLEAN_FREQ,SIMI_SACT_TUMOUR_25_pid_MORPHOLOGY_CLEAN_FREQ,SIMI_SACT_TUMOUR_10_pid_MORPHOLOGY_CLEAN_FREQ,'MORPHOLOGY_CLEAN')
MORPHOLOGY_CLEAN_FREQ_pid_merge=MORPHOLOGY_CLEAN_FREQ_pid_merge.fillna(0)

In [15]:
CONSULTANT_SPECIALITY_CODE_tid_FREQ_merge

,CONSULTANT_SPECIALITY_CODE,count_synth,count_0.50_synth_tid,count_0.25_synth_tid,count_0.10_synth_tid
0,800.0,125359,62575.0,31425.0,12396.0
1,370.0,85863,42998.0,21507.0,8727.0
2,303.0,31772,15943.0,7900.0,3159.0
3,0.0,21352,10714.0,5338.0,2192.0
4,823.0,14914,7482.0,3706.0,1489.0
...,...,...,...,...,...
71,304.0,1,1.0,1.0,0.0
72,50.0,1,1.0,1.0,0.0
73,7.0,1,1.0,1.0,0.0
74,144.0,1,0.0,0.0,0.0
75,255.0,1,1.0,0.0,0.0

In [16]:
CONSULTANT_SPECIALITY_CODE_pid_FREQ_merge

,CONSULTANT_SPECIALITY_CODE,count_synth,count_0.50_synth_pid,count_0.25_synth_pid,count_0.10_synth_pid
0,800.0,125359,62625.0,31137.0,12560.0
1,370.0,85863,42946.0,21488.0,8534.0
2,303.0,31772,15808.0,7940.0,3095.0
3,0.0,21352,10566.0,5267.0,2118.0
4,823.0,14914,7459.0,3769.0,1522.0
...,...,...,...,...,...
71,304.0,1,0.0,0.0,1.0
72,50.0,1,1.0,0.0,1.0
73,7.0,1,1.0,0.0,0.0
74,144.0,1,1.0,1.0,0.0
75,255.0,1,1.0,1.0,0.0

In [17]:
PRIMARY_DIAGNOSIS_FREQ_tid_merge

,PRIMARY_DIAGNOSIS,count_synth,count_0.50_synth_tid,count_0.25_synth_tid,count_0.10_synth_tid
0,C509,44219,22295.0,10980.0,4445.0
1,C349,18281,9121.0,4645.0,1833.0
2,C61,16305,8154.0,4047.0,1575.0
3,C20,11835,5749.0,2950.0,1204.0
4,C833,10840,5493.0,2756.0,1070.0
...,...,...,...,...,...
755,D470,1,0.0,1.0,0.0
756,D331,1,0.0,0.0,0.0
757,N131,1,0.0,0.0,0.0
758,J459,1,1.0,0.0,0.0
759,D199,1,1.0,0.0,0.0

In [18]:
PRIMARY_DIAGNOSIS_FREQ_pid_merge

,PRIMARY_DIAGNOSIS,count_synth,count_0.50_synth_pid,count_0.25_synth_pid,count_0.10_synth_pid
0,C509,44219,22142.0,10978.0,4461.0
1,C349,18281,9223.0,4565.0,1821.0
2,C61,16305,8087.0,4127.0,1556.0
3,C20,11835,5856.0,2886.0,1165.0
4,C833,10840,5484.0,2697.0,1072.0
...,...,...,...,...,...
755,D470,1,1.0,0.0,0.0
756,D331,1,0.0,0.0,0.0
757,N131,1,1.0,0.0,1.0
758,J459,1,0.0,0.0,0.0
759,D199,1,0.0,0.0,0.0

In [19]:
MORPHOLOGY_CLEAN_FREQ_tid_merge

,MORPHOLOGY_CLEAN,count_synth,count_0.50_synth_tid,count_0.25_synth_tid,count_0.10_synth_tid
0,81403.0,42021,20929.0,10468.0,4212.0
1,85003.0,22888,11330.0,5689.0,2265.0
2,80703.0,9867,4884.0,2485.0,988.0
3,97323.0,5912,2930.0,1470.0,633.0
4,80103.0,5373,2685.0,1343.0,576.0
...,...,...,...,...,...
528,85843.0,1,1.0,0.0,0.0
529,80973.0,1,0.0,0.0,0.0
530,85823.0,1,1.0,1.0,0.0
531,85763.0,1,0.0,0.0,0.0
532,85811.0,1,1.0,0.0,0.0

In [20]:
MORPHOLOGY_CLEAN_FREQ_pid_merge

,MORPHOLOGY_CLEAN,count_synth,count_0.50_synth_pid,count_0.25_synth_pid,count_0.10_synth_pid
0,81403.0,42021,20983.0,10471.0,4175.0
1,85003.0,22888,11404.0,5549.0,2371.0
2,80703.0,9867,4871.0,2462.0,984.0
3,97323.0,5912,2858.0,1504.0,602.0
4,80103.0,5373,2726.0,1326.0,504.0
...,...,...,...,...,...
528,85843.0,1,0.0,1.0,0.0
529,80973.0,1,1.0,0.0,1.0
530,85823.0,1,1.0,0.0,0.0
531,85763.0,1,0.0,1.0,0.0
532,85811.0,1,0.0,0.0,1.0